html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img[alt="www.000webhost.com"]{
    display: none;
}

body {
  background-image: url("foto.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-weight: bold;
  font-family: Arial, sans-serif;

}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: rgb(36, 105, 86);
  margin: 5px 0;
  transition: 0.4s;
}

ul {
  list-style-type: none;
}

li {
  font-size: 8px;
}

p {
  font-size: 10px;
}

.item {
  margin-top: -1px;
  font-size: 8px;
}

.switch {
  bottom: 12px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196f3;
  box-shadow:1px 1px 1px 1px black;
}

input:focus+.slider {
  box-shadow:1px 1px 1px 1px black;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
  box-shadow:1px 1px 1px 1px black;
}

.slider.round::before {
  border-radius: 50%;
  box-shadow:1px 1px 1px 1px black;
}

.social-icon i {
  font-size: 55px;
  margin: 5px;
  color: #000;
  transition: all 0.3s ease-in-out;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px -12px #ffffff;
}

.social-icon i:hover {
  transform: translateY(-2px);
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading:after {
  content: "";
  width: 45px;
  height: 45px;
  border: 6px solid #000000;
  border-top-color: #ffffff;
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}