* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url(f2.jpg);
    background-size: cover;
    background-position: center;
}
.main {
    width:30%;
    float: left;
    background-color:#003399ab;

}

.foto-bulat {
    position: relative;
    top: 10px;
    left: 10px;
    width: 100px; /* Ukuran foto */
    height: 100px;
    border-radius: 50%; /* Membuat foto menjadi bulat */
    overflow: hidden;
}

.foto-bulat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    width:70%;
    float: left;

}
h1,h2 {
    margin: 10px;
    font-size: 22px;
    color:  #fff;
}


/*
Design Personal Info
*/
#info {
    background-color:#0000ff;
    padding: 10px;
    font-size: 18px;
    color:  #fff;
}

#contact {
    margin:10px;
    font-size: 12px;
    color: black;
    font-weight: bold;
}


#contact-content{
    margin: 10px;
    color: black;
    font-size: 12px;
    position: relative;
}

/*
Design Skill Info
*/
ul#info-list {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding:0;
    color: black;
    font-size: 12px;
}
li#info-item {
    border-bottom: 1px solid #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom:5px;
}

/*
Design Software dan Bahasa Info
*/
span.dot {
    background-color:greenyellow;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    display: inline-block;
}

/*
Design Summary
*/

#summary {
    text-align: justify;
    color:  #fff;
    background-color: #003399ab;
    padding: 22px;
    font-size: 28px;
    font-weight: bold;
}


#exp {
    border-top: 2px solid #4444;
    font-size: 26px;
    text-align: center;
    border-bottom: 2px solid #4444;
}

table {
    width: 100%;
    font-size: 12px;
}